# Core functionality - changes here should be rare!
/src/app.py                   @shamidrahim
/src/backend/database.py      @shamidrahim
/src/backend/routers/auth.py  @shamidrahim

# The frontend will need refactored soon to be more object oriented.
/src/static/   @shamidrahim
